{% extends "main.html" %}
{% block title %}{{ lang.lg_title }}{% endblock %}


    
{% block css_custom %}
    <link href="{{ url_for('static', filename='styles/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block nav %}{% endblock %}
{% block content %}
<main class="form-signin text-center">
  <form action="" method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="100" height="100">
    <h1 class="h3 mb-3 fw-normal">{{ lang.lg_msg }}</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="user" placeholder="{{ lang.lg_user }}" name="user">
      <label for="user">{{ lang.lg_user }}</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="pass" placeholder="{{ lang.lg_pass }}" name="pass">
      <label for="pass">{{ lang.lg_pass }}</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">{{ lang.lg_sub }}</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
  <div class="text-center">
    Para las pruebas puede ingresar con usuario y clave: admin
  </div>
</main>
{% endblock %}