<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" width="30" height="30">
          </a>
          {% if current_user.is_authenticated %}
            {{ current_user.nombre }}
          {% endif %}              
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link {% block item_1 %}{% endblock %}" href="{{url_for('ventas')}}">Ventas</a>
              <a class="nav-link {% block item_2 %}{% endblock %}" href="{{url_for('users')}}">Usuarios</a>
              <a class="nav-link {% block item_3 %}{% endblock %}" href="{{url_for('users')}}">Espacios</a>
              <a class="nav-link {% block item_4 %}{% endblock %}" href="{{url_for('tarifas')}}">Tarifas</a>
              <a class="nav-link btn btn-warning btn-sm" role="button" aria-disabled="true" href="{{url_for('logout')}}">Salir</a>
            </div>
          </div>
        </div>
      </nav>
</header>
<div class='container'>
      <p></p>
      <h1 class="text-center">Tarifas</h1>
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#userModal">
        Modifica Tarifas
      </button>
      <table class="table">
        <thead>
            <tr>
                <th scope="col">Base</th>
                <th scope="col">Vehículo</th>
                <th scope="col">Tarifa</th>
            </tr>
        </thead>
        <tbody>          
          {% for tarifas, tv in tarifa %}
          <tr>
            <th scope="row">Hora</th>
            <td>{{tv.nombre}}</td>
            <td>{{tarifas.valor}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <form action="#" method="POST">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modifica Tarifas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="bici" value="{{bici}}" placeholder="Tarifa Hora" name="bici">
              <label for="bici">Tarifa Bicicleta</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="moto" value="{{moto}}" placeholder="Nombres" name="moto">
              <label for="moto">Tarifa Moto</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="auto" value="{{auto}}" placeholder="Apellido" name="auto">
              <label for="auto">Tarifa Auto</label>
            </div>
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Guardar</button>


          </div>
        </div>
      </div>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>   
</body>

</html>