{% extends "main.html" %}
{% block title %}Ventas{% endblock %}

{% block nav %}{{super()}}{% endblock %}
{% block item_1 %} active fw-bold text-danger{% endblock %}
{% block content %}
    <!-- Container 1 -->
    <div class="container-fluid">
      
      <h1 class="text-left mt-5" >Registro de entrada </h1>
      
      <form action="/ventas" method="POST" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
          <label class="visually-hidden" for="inlineFormInputGroupUsername">Placa</label>
          <div class="input-group">
            <div class="input-group-text">Placa vehículo</div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" name="placa" placeholder="ABC123">
          </div>
        </div>
      
        <div class="col-12">
          <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
          <select class="form-select" name="Tvehiculo" id="inlineFormSelectPref">
            <option selected>Tipo de vehículo...</option>
            <option value="1">Bicicleta</option>
            <option value="2">Moto</option>
            <option value="3">Auto</option>
          </select>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </form>
      <h1 class="text-left mt-5" >Registro de Salida </h1>

      <form action="/ventas" method="GET" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
          <label class="visually-hidden" for="inlineFormInputGroupUsername">Placa</label>
          <div class="input-group">
            <div class="input-group-text">ID</div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" name="out_id" placeholder="100">
          </div>
        </div>
      
      
        <div class="col-12">
          <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal">Generar factura</button>
        </div>
      </form>
    </div>
    </div>

    <!-- Container 2 -->
    <div class='container'>

      <h1 class="text-center mt-5">Ventas</h1>
      
      <div class="container">
        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Placa</th>
                  <th scope="col">Tipo de vehículo</th>
                  <th scope="col">Hora de entrada</th>
                </tr>
              </thead>
              <tbody>
                {% for fact, vehi, teVehi in results %}
                <tr>
                  <td>{{fact.id_f}}</td>
                  <td>{{vehi.placa}}</td>
                  <td>{{teVehi.nombre}}</td>
                  <td>{{fact.fechaentrada}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Tiempo (horas)</th>
                  <th scope="col">Valor a Pagar (pesos)</th>
                </tr>
              </thead>
              <tbody>
                {% for ti in tiempo %}
                <tr>
                  <td>{{ti}}</td>
                  <td>$ {{ti*3000}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      
      <!--
      <table class="table">
        <thead>
          <tr>
            {% for header in headings %}
            <th scope="col">{{header}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
          </tr>
         {% endfor %}
        </tbody>
      </table>
      -->

<!-- Modal 1-->
<div class="modal fade" id="userModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Factura de Servicios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Placa</th>
              <th scope="col">Hora de entrada</th>
              <th scope="col">Hora de salida</th>              
              <th scope="col">Tiempo</th>
              <th scope="col">Tarifa (min)</th>
              <th scope="col">Valor a Pagar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>JET723</td>
              <td>06:00:01</td>
              <td>13:00:21</td>             
              <td>4.5</td>
              <td>74</td>
              <td>20000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
        <button type="button" class="btn btn-primary">Imprimir</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}